/* Global styles */

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: linear-gradient(360deg, #5f0d16, #7c0f22, #ed9fb2);
    
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    font-size: 20px;
    padding-left: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover a:focus{
    background-color: hsl(347, 77%, 41%);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: rgb(237, 234, 234);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    margin 0;
  }
  
  .headshot {
    border-radius: 400px;
    padding: 5px;
    background-position: top-left;
  }
  /* Header styles */
  
  header {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color:  rgb(237, 234, 234);
  }
  
  nav ul {
    display:inline-flexbox;
    list-style:inside;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 0.5em;
  }
  
  nav a {
    display: inline-block;
    padding: .2rem;
  }
  
  nav a:hover {
    background-color: hsl(355, 62%, 24%);
  }
  
  /* Main styles */
  
  main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  section {
    color: rgb(224, 216, 216);
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  ul {
    margin: 0;
    padding: 0;
    display:inline-block;
    flex-wrap: wrap;
  }
  
  li {
    display:inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    flex: 1 0 300px;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  
  p {
    margin-bottom: 1rem;
    text-align:justify;
  }
  
  a.button {
    display: inline-block;
    background-color:hsl(127, 20%, 92%);
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-align: center;
  }
  
  a.button:hover {
    background-color: hsl(127, 50%, 94%);
  }
  
  /* Footer styles */
  
  footer {
    box-shadow: 0 -2px 4px rgba(0,0,0,.1);
    padding: 1rem;
    text-align: center;
  }
  
  
